{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'phone_list/css/cover.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="cover-container">
 <div class="cover-panel">
    <h3 class="cover-heading">Cover your page.</h3>
    <p class="lead">
        Описание:
    <p>Задание выполнила: Ларькина Ольга</p>
    <p class="active">Код можно посмотреть на <a  href="https://bitbucket.org/larkina/phone_list">https://bitbucket.org/larkina/phone_list</a>
    <p>
    <p>Особенности:
    <ul>
        <li>При разработке был использован фреймворк Django</li>
        <li>Список городов и их улиц обновляется с помощью AJAX</li>
        <li>Навыков SEO-оптимизаици не имею</li>
    </ul>
    </p>
    </p>

  <div class="mastfoot">
    <div class="inner">
      <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </div>
</div>
    </div>
{% endblock %}

