{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<div class="jumbotron">

<form id=contact_form action="{% url 'add' %}" method="post" data-parsley-validate> {% csrf_token %}
 <table class="table">
    <input type="hidden" form=contact_form name="pk" value="{{c.pk}}">
    <tbody>
        <tr>
            <td>
                <label for="first_name">Имя * :</label>
            </td>
            <td>  <input maxlength="50" name="first_name" type="text" value="{{c.first_name}}" required /></td>
        </tr>
        <tr>
        	<td><label for="second_name">Фамилия * :</label></td>
        	<td><input maxlength="100" name="second_name" type="text" value="{{c.second_name}}" required/></td>
        </tr>
        <tr>
        	<td><label for="patromymic">Отчество:</label></td>
        	<td><input maxlength="50" name="patronymic" type="text" value="{{c.patronymic}}"/></td>
        </tr>
        <tr>
        	<td><label for="birthday">Дата рождения :</label></td>
        	<td>
    <div id="dp" data-date="{{c.birthday|date:'d-m-Y'}}" data-date-format="dd-mm-yyyy">
<input form="contact_form" name="birthday" class="span2" id="dpspan" size="16" type="text" value="{{c.birthday|date:'d-m-Y'}}">
    </div>
            </td>
        </tr>
        <tr>
        	<td><label for="city">Город :</label></td>
        	<td><select form=contact_form name="city" id="city_id"></select></td>
        </tr>
        <tr>
        	<td><label for="street">Улица :</label></td>
        	<td><select form=contact_form name="street" id="street_id"></select></td>
        </tr>
        <tr>
        	<td><label for="phone_num">Телефон * :</label></td>
        	<td><input name="phone_num" type="text" value="{{c.phone_num}}" required   data-parsley-type="number" data-parsley-trigger="keyup" data-parsley-length="[10, 11]" data-parsley-validation-threshold="10" data-parsley-error-message="Телефон в формате 8xxxxxxxxxx"/>
            </td>
        </tr>
        <tr>
        	<td><label for="mail">Email:</label></td>
        	<td><input name="mail" type="email" value="{{c.mail}}"/></td>
        </tr>
    </tbody>
</table> 
<input id="save_btn" type="submit" value="Сохранить" name="save"/>
{% if c %}
<input type="submit" form=contact_form value="Удалить" name="delete"/>
{% endif %}
</form>
</div>

<script>
$.ajax({
url: "{% url 'cities_list' %}",
context: document.body
}).done(function(data) {
	res = $.parseJSON(data);
	for (var i = 0; i < res.length; i++) {
		$('#city_id')
			.append($("<option></option>")
         	.attr("value", res[i].pk)
         	.text(res[i].fields.name));
	};
    {% if c %}
	$('#city_id').val({{c.city.id}})
    {% else %}
    $('#city_id').val(8) // -- город
    {% endif %}
});

var dp = $( "#dp" ).datepicker();
dp.on('changeDate', function(ev) 
{
var d = new Date(ev.date)
d = moment(d).format('DD-MM-YYYY')
dp.datepicker('setValue', d);
$("#dpspan").val(d)
dp.datepicker('hide');
});

function getStreetsByCity(city_id){
$.ajax({
url: "{{ BASE_URL}}" + "/phone_list/streets/" + String(city_id) + "/",
context: document.body
}).done(function(data) {
    $('#street_id')
        .find('option')
        .remove()
        .end();    
    res = $.parseJSON(data);
    for (var i = 0; i < res.length; i++) {
        $('#street_id')
            .append($("<option></option>")
             .attr("value", res[i].id)
             .text(res[i].name));
    };
    {% if c%}
        $('#street_id').val({{c.street.id}})
    {% endif %}
});}

getStreetsByCity(
{% if c %}
{{c.city.id}}
{% else %}
6
{% endif %}
)

$('#city_id').on('change', function(ev) {
    var val = $("#city_id").val()
    getStreetsByCity(val)
});

</script>
</div>
{% endblock %}