{% extends "base.html" %}

{% block content %}
{% if contacts %}

    <div class="panel-default">

        <div class="panel-heading">

            Список контактов

        </div>
    
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Фамилия</th>
                    <th> Имя </th>
                    <th> Отчество </th>
                    <th> Телефон </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            	{% for contact in contacts %}
                <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td> {{ contact.second_name }}</td>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.patronymic}}</td>
                    <td>{{ contact.phone_num }}</td>
                      <td>
<form method="get" action="{% url 'detail' contact.id %}">
<button class="btn btn-sm btn-primary" type="submit">
✎
</button>
</form>  
 
                    </td>
                    <td>
<form method="get" action="{% url 'delete' contact.id %}">
<button class="btn btn-sm btn-danger" type="submit">
✗
</button>
</form> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% else %}
<div class=panel-heading>
    <p class="lead">Не добавлено ни одного контакта.</p>
</div>
{% endif %}
<div class="center">

<ul class="pagination">
  <li> {% if contacts.has_previous %}
        <a href="?page={{ contacts.previous_page_number }}">&larr;</a>
        {% endif %}
  </li>
    <li class="active"><a>  Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}. </a>
    </li>
  <li>
    {% if contacts.has_next %}
    <a href="?page={{ contacts.next_page_number }}">&rarr;</a>
    {% endif %}
   </li>
</ul>

</div>
{% endblock %}

