{% load staticfiles %}
 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Larkins O.S.">
    <title>Список контактов</title>
    <link href="{% static 'phone_list/css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'phone_list/css/bootstrap_min.css' %}" rel="stylesheet">
    <link href="{% static 'phone_list/css/small.css'%}" rel="stylesheet">
    <link href="{% static 'phone_list/css/parsley.css' %}" rel="stylesheet">
    <link href="{% static 'phone_list/css/smoothness/jquery-ui-1.10.4.custom.css' %}" rel="stylesheet">
    <script src="{% static 'phone_list/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'phone_list/js/jquery-ui-1.10.4.custom.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'phone_list/js/bootstrap_datepicker.js' %}"></script>
    <script src="{% static 'phone_list/js/moment.js'%}"></script>
    <script src="{% static 'phone_list/js/parsley.min.js' %}"></script>
    {% block css %}{% endblock %}
 </head>

<body>

   <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Список контактов</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li {% if list %} 
              class="active"
              {% endif %}
              >
              <a href="{% url 'index' %}">Все контакты</a></li>
              <li 
              {% if add %}
              class="active"
              {% endif %}
              ><a href="{% url 'add' %}">Добавить</a></li>
              <li
              {% if about %}
              class="active"
              {% endif %}
              ><a href="{% url 'about' %}">О сайте</a></li>

        </ul>
      </div>
    </div>
  </div>

              <div class="container">
          {% block content %}{% endblock %}
        </div>
      <script src="{% static 'phone_list/js/bootstrap_min.js' %}"></script>
</body>
</html>

